
html {
    margin: 0;
    padding: 0;
    height:100%;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    overflow:scroll;
    height:100%;
    /*font-size: 12px;*/
    font-family: Helvetica, Sans-Serif;
}

a {
    font-size: 1.0em;
    text-decoration: none;
}

input[type=submit] {
    margin-top: 10px;
}

/*.payment_form span {
    font-weight: bold;
    width: 160px;
    display: inline-block;
}*/

.fieldName {
    display:inline-block;
    width: 220px !important;
    vertical-align: top;
}

.fieldValue {
    width: 200px;
    font-weight: normal;
    vertical-align: top;
}
.content
{
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.logo
{
    display: inline-block;
    width: 77px;
    height: 58px;
    background: url("/images/header.svg") no-repeat 0 0;
    text-decoration: none;
    background-size:77px 58px;
    position:relative;
}
.circle
{
    display:inline-block;
    width:30px;
    background:url("/images/circle.gif") no-repeat 0 0;
    padding-left:4px;
    color:white;
    font-weight:bold;
}
.section-title
{
    font-size:1em;
    font-weight:bold;
    background-color:lightgray;
}

.t-accordion { margin: 0; padding: 0; }
.t-accordion > li { list-style: none; }
.t-accordion .accordion-header
{
    font-size: 18px;
    padding: 8px 0 8px;
    line-height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFF),color-stop(1%,#ECF4FF),color-stop(100%,#BDD9FF));
    background: linear-gradient(to bottom, #FFF, #BDD9FF);
}
.t-accordion .accordion-header .k-icon { margin: 5px 5px 0 5px; }
.t-accordion .accordion-header button .k-icon { margin:0px; vertical-align:middle}
.t-accordion .accordion-header span .k-icon { margin:0px;}
.t-accordion .accordion-header button span {font-size:12px; margin-left:3px;}
.t-accordion .accordion-header .item-count { float:none; font-size: 12px; display: inline-block; margin-bottom: -4px;  }
.t-accordion .accordion-header .item-count.normal { background: #ddd; }
.t-accordion .accordion-content { margin: 0 0 0 21px; }
.hidden
{
    display:none;
}
.sectionContent
{
    margin:5px;
}
.sectionContent > div
{
    padding:5px;
}
